/* line 13, ../sass/style.sass */
body {
  margin: 0;
  background: white url("../images/body_bg_repeat.png") center top repeat-x;
  font-family: Arial;
  color: #252525;
}
/* line 18, ../sass/style.sass */
body a {
  color: #3e91cb;
}
/* line 20, ../sass/style.sass */
body a:hover {
  color: #2d76a9;
  text-decoration: underline;
}
/* line 23, ../sass/style.sass */
body.logged-in {
  margin-top: 20px;
  background-position: 0 30px;
}

/* line 27, ../sass/style.sass */
.container {
  width: 920px;
  margin: 0 auto;
}

/* line 31, ../sass/style.sass */
header {
  position: relative;
  width: 920px;
  height: 240px;
  margin-bottom: 16px;
  padding: 0;
  border: 0;
}
/* line 38, ../sass/style.sass */
header h1, header h2 {
  margin: 0;
  padding: 0;
}
/* line 41, ../sass/style.sass */
header .logo a {
  position: absolute;
  top: 15px;
  left: 47px;
  display: block;
  height: 138px;
}
/* line 48, ../sass/style.sass */
header .logo a img {
  height: 138px;
}
/* line 50, ../sass/style.sass */
header .slogan {
  position: absolute;
  top: 80px;
  left: 180px;
  font: italic bold 24px Arial;
}
/* line 55, ../sass/style.sass */
header #block-views-social-network-block {
  position: absolute;
  top: 20px;
  right: 0px;
  width: 400px;
}
/* line 60, ../sass/style.sass */
header #block-views-social-network-block .icon {
  display: block;
  float: right;
  width: 32px;
  height: 32px;
  margin-left: 5px;
  overflow: hidden;
}
/* line 68, ../sass/style.sass */
header .block-menu-block {
  position: absolute;
  top: 168px;
  left: 0;
  width: 920px;
  height: 72px;
  background: transparent url("../images/header_bg_nav.png") 0 0 no-repeat;
}
/* line 75, ../sass/style.sass */
header .block-menu-block h2 {
  display: none;
}
/* line 77, ../sass/style.sass */
header .block-menu-block .content ul {
  width: 880px;
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
}
/* line 83, ../sass/style.sass */
header .block-menu-block .content ul ul {
  display: none;
}
/* line 85, ../sass/style.sass */
header .block-menu-block .content ul li {
  position: relative;
  float: left;
  background: transparent url("../images/header_nav_bg_multi.png") top right no-repeat;
}
/* line 89, ../sass/style.sass */
header .block-menu-block .content ul li:last-child {
  background: 0;
}
/* line 91, ../sass/style.sass */
header .block-menu-block .content ul li:last-child:hover {
  background: #7bc3f3;
}
/* line 93, ../sass/style.sass */
header .block-menu-block .content ul li.expanded:hover {
  background: #7bc3f3 url("../images/header_nav_bg_expanded.png") right center no-repeat;
}
/* line 95, ../sass/style.sass */
header .block-menu-block .content ul li.expanded > a {
  padding-right: 25px;
  background: transparent url("../images/header_nav_bg_expanded.png") right center no-repeat;
}
/* line 98, ../sass/style.sass */
header .block-menu-block .content ul li.expanded > a:hover {
  padding-right: 25px;
  background: #7bc3f3 url("../images/header_nav_bg_expanded.png") right center no-repeat;
}
/* line 101, ../sass/style.sass */
header .block-menu-block .content ul a {
  display: block;
  float: left;
  height: 48px;
  padding: 0 15px;
  font: bold 13px/48px "Trebuchet MS";
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 110, ../sass/style.sass */
header .block-menu-block .content ul a:hover {
  background: #7bc3f3;
}
/* line 112, ../sass/style.sass */
header .block-menu-block .content ul li:hover ul {
  position: absolute;
  display: block;
  top: 48px;
  left: 0;
  width: 200px;
  border: 1px solid white;
  border-top: 2px solid #cccccc;
}
/* line 120, ../sass/style.sass */
header .block-menu-block .content ul li:hover ul li {
  float: none;
}
/* line 122, ../sass/style.sass */
header .block-menu-block .content ul li:hover ul a {
  float: none;
  height: 33px;
  background: #7bc3f3;
  border-bottom: 1px solid #3f8aba;
  font: bold 13px/33px Arial;
  text-transform: none;
}
/* line 129, ../sass/style.sass */
header .block-menu-block .content ul li:hover ul a:hover {
  background: #3f8aba;
}

/* line 133, ../sass/style.sass */
#site-name {
  position: absolute;
  top: 50px;
  font-size: 2.5em;
}
/* line 137, ../sass/style.sass */
#site-name a {
  text-decoration: none;
  color: #1b1d4b;
}

/* line 142, ../sass/style.sass */
#block-search-form {
  position: absolute;
  top: 138px;
  right: 3px;
  width: 144px;
  height: 26px;
  padding: 4px 10px 0;
  background: #374564;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 1px solid #3b6992;
}
/* line 153, ../sass/style.sass */
#block-search-form label {
  display: none;
}
/* line 155, ../sass/style.sass */
#block-search-form .form-text {
  width: 144px;
  height: 16px;
  background: white;
  border: 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  text-indent: 25px;
}
/* line 162, ../sass/style.sass */
#block-search-form .form-submit {
  position: absolute;
  top: 5px;
  left: 15px;
  display: block;
  width: 17px;
  height: 17px;
  background: transparent url("../images/btn-searchSubmit.png") top left no-repeat;
  border: 0;
  font-size: 1px;
  cursor: pointer;
}

/* line 174, ../sass/style.sass */
#main {
  margin-bottom: 30px;
  overflow: hidden;
  *zoom: 1;
}

/* line 178, ../sass/style.sass */
#sidebar_first {
  float: left;
  width: 230px;
  margin-right: 30px;
}
/* line 182, ../sass/style.sass */
#sidebar_first .block {
  width: 198px;
  margin-bottom: 20px;
  padding: 20px;
  background: white url("../images/sidebar_widget_bg.jpg") bottom center no-repeat;
  border-width: 1px;
  border-style: solid;
  border-color: #d0d0d0 #e9e5dd #cccccc;
  font: 15px Trebuchet MS;
}
/* line 191, ../sass/style.sass */
#sidebar_first .block h2 {
  margin-top: 0;
  font: bold 20px/20px Arial;
  color: #1b1d4b;
  letter-spacing: 0;
  text-transform: uppercase;
}
/* line 197, ../sass/style.sass */
#sidebar_first .block p {
  font: 13px/18px Arial;
}
/* line 199, ../sass/style.sass */
#sidebar_first .block a {
  color: #252525;
}
/* line 201, ../sass/style.sass */
#sidebar_first .block a.button {
  display: inline-block;
  padding: 8px 13px;
  background: #1d1f4e;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3e4074), color-stop(100%, #1d1f4e));
  background: -webkit-linear-gradient(#3e4074, #1d1f4e);
  background: -moz-linear-gradient(#3e4074, #1d1f4e);
  background: -o-linear-gradient(#3e4074, #1d1f4e);
  background: linear-gradient(#3e4074, #1d1f4e);
  border: 1px solid #ebe7e0;
  -webkit-box-shadow: 0px 3px 7px #696962;
  -moz-box-shadow: 0px 3px 7px #696962;
  box-shadow: 0px 3px 7px #696962;
  color: white;
  text-decoration: none;
}
/* line 210, ../sass/style.sass */
#sidebar_first .block a.button:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1d1f4e), color-stop(100%, #3e4074));
  background: -webkit-linear-gradient(#1d1f4e, #3e4074);
  background: -moz-linear-gradient(#1d1f4e, #3e4074);
  background: -o-linear-gradient(#1d1f4e, #3e4074);
  background: linear-gradient(#1d1f4e, #3e4074);
  -webkit-box-shadow: 0px 3px 7px #41413d;
  -moz-box-shadow: 0px 3px 7px #41413d;
  box-shadow: 0px 3px 7px #41413d;
  text-decoration: none;
}
/* line 214, ../sass/style.sass */
#sidebar_first .block img {
  width: 100%;
  height: auto;
}

/* line 218, ../sass/style.sass */
#sidebar_second {
  float: right;
  width: 245px;
}
/* line 221, ../sass/style.sass */
#sidebar_second .block {
  margin-bottom: 20px;
  padding: 20px 20px 10px;
  background: #e5e5e5;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  border-bottom: 1px solid white;
  -webkit-box-shadow: 0px 2px 2px #cccccc;
  -moz-box-shadow: 0px 2px 2px #cccccc;
  box-shadow: 0px 2px 2px #cccccc;
}
/* line 228, ../sass/style.sass */
#sidebar_second .block h2 {
  margin-top: 0;
}
/* line 230, ../sass/style.sass */
#sidebar_second .block p {
  font: 13px/18px Arial;
}
/* line 232, ../sass/style.sass */
#sidebar_second .block a {
  color: #252525;
}
/* line 234, ../sass/style.sass */
#sidebar_second .block a.button {
  display: inline-block;
  padding: 8px 13px;
  background: #1d1f4e;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7bc4f4), color-stop(100%, #57a5d8));
  background: -webkit-linear-gradient(#7bc4f4, #57a5d8);
  background: -moz-linear-gradient(#7bc4f4, #57a5d8);
  background: -o-linear-gradient(#7bc4f4, #57a5d8);
  background: linear-gradient(#7bc4f4, #57a5d8);
  border: 1px solid #ebe7e0;
  -webkit-box-shadow: 0px 3px 7px #696962;
  -moz-box-shadow: 0px 3px 7px #696962;
  box-shadow: 0px 3px 7px #696962;
  color: white;
  text-decoration: none;
}
/* line 243, ../sass/style.sass */
#sidebar_second .block a.button:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #57a5d8), color-stop(100%, #7bc4f4));
  background: -webkit-linear-gradient(#57a5d8, #7bc4f4);
  background: -moz-linear-gradient(#57a5d8, #7bc4f4);
  background: -o-linear-gradient(#57a5d8, #7bc4f4);
  background: linear-gradient(#57a5d8, #7bc4f4);
  -webkit-box-shadow: 0px 3px 7px #41413d;
  -moz-box-shadow: 0px 3px 7px #41413d;
  box-shadow: 0px 3px 7px #41413d;
  text-decoration: none;
}
/* line 247, ../sass/style.sass */
#sidebar_second .block img {
  width: 100%;
  height: auto;
}

/* line 251, ../sass/style.sass */
#content {
  float: left;
  width: 920px;
}
/* line 255, ../sass/style.sass */
#content p, #content ul, #content ol {
  font: 14px/18px Arial;
}
/* line 258, ../sass/style.sass */
#content .messages {
  padding: 10px 15px;
  background: orange;
  font-size: 14px;
  color: white;
}
/* line 264, ../sass/style.sass */
#content .primary.tabs {
  overflow: hidden;
  *zoom: 1;
  margin: 0 0 20px;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid #cccccc;
}
/* line 270, ../sass/style.sass */
#content .primary.tabs li {
  float: left;
}
/* line 272, ../sass/style.sass */
#content .primary.tabs a {
  z-index: 10;
  float: left;
  margin: 0 5px -2px;
  padding: 3px 10px 5px;
  background: #dddddd;
  font-size: 12px;
  color: #555555;
  text-decoration: none;
}
/* line 281, ../sass/style.sass */
#content .primary.tabs a:hover {
  background: #bbbbbb;
  color: white;
}
/* line 284, ../sass/style.sass */
#content .primary.tabs a.active {
  background: white;
  border: 1px solid #cccccc;
  border-bottom: 0;
  color: #3e91cb;
}
/* line 290, ../sass/style.sass */
#content .search-advanced {
  display: none;
}
/* line 294, ../sass/style.sass */
#content .node .content img {
  height: auto;
}

/* line 300, ../sass/style.sass */
.front #content #block-views-banners-block {
  position: relative;
  z-index: 0;
}
/* line 303, ../sass/style.sass */
.front #content #block-views-banners-block h4 {
  margin: 3px 0 0;
}
/* line 305, ../sass/style.sass */
.front #content #block-views-banners-block .views_slideshow_controls_text {
  position: absolute;
  top: 0;
  left: 0;
  width: 385px;
  height: 200px;
}
/* line 311, ../sass/style.sass */
.front #content #block-views-banners-block .views_slideshow_controls_text .views_slideshow_controls_text_previous a,
.front #content #block-views-banners-block .views_slideshow_controls_text .views_slideshow_controls_text_next a {
  position: absolute;
  top: 160px;
  display: block;
  width: 40px;
  height: 40px;
  background: black url("../images/arrow_left.png") 0 0 no-repeat;
  z-index: 50;
  text-indent: -9000px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}
/* line 323, ../sass/style.sass */
.front #content #block-views-banners-block .views_slideshow_controls_text .views_slideshow_controls_text_previous a:hover,
.front #content #block-views-banners-block .views_slideshow_controls_text .views_slideshow_controls_text_next a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 325, ../sass/style.sass */
.front #content #block-views-banners-block .views_slideshow_controls_text .views_slideshow_controls_text_next a {
  right: 0;
  background-image: url("../images/arrow_right.png");
}
/* line 328, ../sass/style.sass */
.front #content #block-views-banners-block .views_slideshow_controls_text .views_slideshow_controls_text_pause a {
  display: none;
}
/* line 333, ../sass/style.sass */
.front #content #block-views-news-listing-block-1 {
  margin-bottom: 10px;
  padding: 20px 20px 10px;
  background: #e5e5e5;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  border-bottom: 1px solid white;
  -webkit-box-shadow: 0px 2px 2px #cccccc;
  -moz-box-shadow: 0px 2px 2px #cccccc;
  box-shadow: 0px 2px 2px #cccccc;
}
/* line 340, ../sass/style.sass */
.front #content #block-views-news-listing-block-1 h2 {
  margin-top: 0;
  font-size: 18px;
}
/* line 343, ../sass/style.sass */
.front #content #block-views-news-listing-block-1 .title {
  margin-bottom: 0;
  font-size: 16px;
}
/* line 346, ../sass/style.sass */
.front #content #block-views-news-listing-block-1 .more-link a {
  font: bold 14px/18px Arial;
  text-decoration: none;
}

/* line 352, ../sass/style.sass */
.page-board-members #content .item-list ul {
  list-style: none;
}
/* line 354, ../sass/style.sass */
.page-board-members #content .item-list ul .views-row {
  overflow: hidden;
  *zoom: 1;
  margin: 0 0 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eeeeee;
}
/* line 359, ../sass/style.sass */
.page-board-members #content .item-list ul .views-field-field-bm-photo {
  float: left;
  width: 100px;
  margin-right: 15px;
}
/* line 363, ../sass/style.sass */
.page-board-members #content .item-list ul .views-field-title {
  font: bold 16px Arial;
}
/* line 365, ../sass/style.sass */
.page-board-members #content .item-list ul .views-field-field-bm-bio {
  clear: both;
  padding-top: 10px;
}

/* line 373, ../sass/style.sass */
.page-event-calendar #content .past .item .monthview,
.page-event-calendar #content .future .item .monthview {
  padding: 3px;
  background: #cccccc;
}
/* line 376, ../sass/style.sass */
.page-event-calendar #content .past .item .monthview a,
.page-event-calendar #content .future .item .monthview a {
  color: #555555;
}
/* line 380, ../sass/style.sass */
.page-event-calendar #content .multi-day .item .calendar .contents a {
  font-size: 11px;
  color: white;
}

/* line 386, ../sass/style.sass */
.node-type-event #content .node .field {
  margin-bottom: 10px;
}
/* line 388, ../sass/style.sass */
.node-type-event #content .node .field .field-label {
  font: bold 12px Arial;
}
/* line 390, ../sass/style.sass */
.node-type-event #content .node .field .field-items {
  font: 14px/18px Arial;
}

/* line 395, ../sass/style.sass */
.page-news-listing #content .views-row {
  margin-bottom: 25px;
}
/* line 397, ../sass/style.sass */
.page-news-listing #content .posted {
  font-size: 12px;
  color: #bbbbbb;
}
/* line 400, ../sass/style.sass */
.page-news-listing #content .posted a {
  color: #777777;
}

/* line 404, ../sass/style.sass */
.sidebar-first.one-sidebar #content {
  width: 660px;
}

/* line 408, ../sass/style.sass */
.sidebar-second.one-sidebar #content {
  width: 645px;
}

/* line 412, ../sass/style.sass */
.two-sidebars #content {
  width: 385px;
}

/* line 415, ../sass/style.sass */
footer {
  padding: 0 0 20px;
  background: #292a48;
  border-bottom: 20px solid #000e2e;
  font: 12px/18px Trebuchet MS, Arial;
  color: white;
  text-align: center;
  width: 100%;
  min-width: 920px;
}
/* line 424, ../sass/style.sass */
footer .wrap {
  width: 920px;
  margin: 0 auto;
  padding-top: 10px;
}
/* line 428, ../sass/style.sass */
footer #menu-footer-menu {
  margin-top: 0;
}
/* line 430, ../sass/style.sass */
footer #menu-footer-menu a {
  padding: 0 10px;
  font-size: 12px;
  color: white;
}
/* line 434, ../sass/style.sass */
footer #menu-footer-menu a:hover {
  text-decoration: underline;
}
